/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/Projects/ProjectCards.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.title{
    color: aliceblue;
}

/* .bojatitla {
background-color: aqua;
width: 50px;
height: 50px;
margin-bottom: 100px;
} */

/* .slikaVelicina{
    max-height: 50px;
    
} */
