.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #191227;
}

.password-box {
  background-color: #bcb4a1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.password-box h2 {
  margin-bottom: 20px;
}

.password-input {
  background-color: #fdd5ff;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  /*  color: white; */
  color: #fdd5ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .password-box {
    width: 90%;
  }
}